<div class="cd-user-modal-container">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'cd-form' }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <h2>修改密码</h2>
    <div class="fieldset">
      <% if @minimum_password_length %>
        <em>(大于 <%= @minimum_password_length %> 位)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: '新密码', class: 'full-width has-padding has-border' %>
    </div>

    <div class="fieldset">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '确认密码', class: 'full-width has-padding has-border' %>
    </div>

    <div class="fieldset">
      <%= f.submit "确认修改", class: 'full-width has-padding has-border' %>
    </div>
  <% end %>

</div>