<% content_for :head do %>
  <%= stylesheet_link_tag 'project', media: "all" %>
<% end %>

<div class="slideshow" style="height:0;margin-top:44px;overflow:hidden">
  <% @perfect.each do |per| %>
    <%= content_tag(:div, link_to(image_tag("#{per.image.url}?imageView2/0/format/webp/q/56"), project_path(per.id)), class: 'slide') %>
  <% end %>
</div>

<div class="container clearfix">
  <div class="gallery">
    <% @projects.each do |project| %>
      <div class="artwork small">
        <%= link_to image_tag("#{project.image.url}?imageView2/1/w/280/h/230/format/webp/q/57", alt: project.title), project, class: "preview" %>
        <div class="extra">
          <div class="ui grid">
            <div class="caption six wide column"><%= project.title %></div>
            <div class="timeago caption five wide column"><%= project.updated_at.strftime("%Y/%m") %></div>
            <div class="caption four wide column">
              <%= link_to like_project_path(project), method: :put, class: 'btn btn-default pull-right' do %>
                <i class="heart icon"><%= project.cached_votes_up %></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<div class="pagination wrapper">
  <%= paginate @projects %>
</div>

<%= javascript_include_tag 'project' %>
