<script>
  (function() {
    $(function() {
      return $('#projects').imagesLoaded(function() {
        return $('#projects').masonry({
          itemSelector: '.box',
          isFitWidth: true
        });
      });
    });
  }).call(this);
</script>

<div id="slider">
  <% @perfect.each do |per| %>
    <%= link_to image_tag(per.image.url), project_path(per.id) %>
  <% end %>
</div>

<div id="projects" class="transitions-enabled">
  <% @projects.each do |project| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag project.image.url), project %>
      <div class="panel-body">
        <h3><%= link_to project.title, project %></h3>
        <p class="user">
          <h5 class="pull-left">
            上传者：<%= project.user.stuName %>
          </h5>
          <span>
            <%= link_to like_project_path(project), method: :put, class: 'btn btn-default pull-right' do %>
              <span class="glyphicon glyphicon-heart">
                <%= project.get_upvotes.size %>
              </span>
            <% end %>
          </span>
        </p>
      </div>
    </div>
  <% end %>
</div>

<center>
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails, class: 'paginate', previous_label: h("previous"), next_label: h("next") %>
</center>

<script>
  var slider = new IdealImageSlider.Slider({
    selector: '#slider',
    height: 400, // Required but can be set by CSS
    interval: 4000
  });
  //slider.addCaptions();
  slider.start();
</script>
