<!DOCTYPE html>
<html>
<head>
  <title>期末作业展示</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: "all" %>
  <%= yield :head %>
</head>
<body class="welcome-page">
<header role="banner">
  <nav class="ui inverted menu">
    <div class="container">
      <div class="left menu">
        <%= link_to "期末作业评测", projects_path, class: "item title" %>
      </div>
      <div class="right menu">
        <% if user_signed_in? %>
          <%= content_tag :li, current_user.email %>
          <%= link_to('上传规范', welcome_path, class: 'item') %>
          <%= link_to('上传', new_project_path, class: 'item') %>
          <%= link_to('退出', destroy_user_session_path, method: :delete, class: 'item') %>
        <% else %>
          <%= link_to('上传规范', welcome_path, class: 'item') %>
          <%= link_to('登录', new_user_session_path, class: 'item') %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<%= yield %>

<%= yield :foot %>

</body>
</html>
